# Dependencies
node_modules/
.cache/

# Build output
dist/
*.tsbuildinfo

# OS
.DS_Store
._*
__MACOSX/

# IDE
.vscode/
.idea/
*.swp

# Environment
.env
.env.local
.env.*.local

# Logs
logs/
*.log
#src/
